
#container {
	width:267px;
	position:relative;
}

#slides {
	position:relative;
}

#slides .slidesContainer {
	background:#fff;
}

/*
	Next/prev buttons
*/

#slides .slidesNext,#slides .slidesPrevious {
	position:absolute;
	top:32px;
	left:0px;
	width:24px;
	height:0;
	padding-top:32px;
	display:block;
	z-index:101;
	overflow:hidden;
	background:url(../img/navigation-previous.png) no-repeat 0 0;
	opacity: 0.8;
}

#slides .slidesNext {
	right:0px;
	left:auto;
	background:url(../img/navigation-next.png) no-repeat 0 0;
}

/*
	Pagination
*/

.slidesPagination {
	display:none;
}

.current_slide {
	font:bold 10px/1.33 sans-serif;
	float:left;
	margin-top:12px;
}

.controls {
	display:block;
	margin-top:12px;
	float:left;
	color:#333;
	font:bold 10px/1.33 sans-serif;
	margin-right:10px;
}
